name: Create lists domains

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/create-lists.yml
      - src/**
  workflow_dispatch:
  schedule:
    - cron: '17 0 * * 3'

permissions:
  contents: write

jobs:
  generate-lists:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tldextract requests idna

      - name: Run script
        run: python src/domains.py

      - name: Update date variable
        id: get_date
        run: |
          # Define the date (UTC)
          CURRENT_DATE=$(date -u +'%d-%m-%Y %H:%M UTC')
          CURRENT_TAG=$(date -u +'%d%m%YT%H%MZ')

          # Export as environment variables
          echo "CURRENT_DATE=$CURRENT_DATE" >> $GITHUB_ENV
          echo "CURRENT_TAG=$CURRENT_TAG" >> $GITHUB_ENV

      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v6
        with:
          repository: v2fly/domain-list-community
          path: community

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./community/go.mod
          cache-dependency-path: ./community/go.sum

      - name: Prepare data-ru
        run: |
          mkdir -p community/data-ru
          cp domains/all_domains.lst community/data-ru/domains-list

      - name: Generate geosite.dat
        run: |
          cd community
          go run ./ --exportlists=domains-list --outputname=geosite.dat --datapath=data-ru

      - name: Generate SHA256 hash
        run: |
          sha256sum community/geosite.dat > community/geosite.dat.sha256sum
          mv community/geosite.dat domains/
          mv community/geosite.dat.sha256sum domains/

      - name: Check for changes
        id: check_changes
        run: |
          if git diff --quiet domains/; then
            echo "No changes detected"
            echo "changes=false" >> $GITHUB_ENV
          else
            echo "Changes detected"
            echo "changes=true" >> $GITHUB_ENV
          fi

      - name: Push changes if any
        if: env.changes == 'true'
        uses: EndBug/add-and-commit@v9
        with:
          add: 'domains/'
          author_name: "github-actions[bot]"
          author_email: "41898282+github-actions[bot]@users.noreply.github.com"
          message: "Update list domain: ${{ env.CURRENT_DATE }}"
          push: true

      - name: Git push assets to "release" branch
        if: env.changes == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          mkdir -p /tmp/release_assets
          cp domains/all_domains.lst domains/dnsmasq_domains.lst domains/geosite.dat domains/geosite.dat.sha256sum /tmp/release_assets/
          git checkout -B release
          git rm -rf . || true
          cp /tmp/release_assets/* .
          git add .
          git commit -m "Update list domains: ${{ env.CURRENT_DATE }}" || echo "No changes"
          git remote set-url origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin release
          git checkout main

      - name: Create Release with gh CLI
        if: env.changes == 'true'
        run: |
          gh release create "v${{ env.CURRENT_TAG }}" \
            ./domains/all_domains.lst \
            ./domains/dnsmasq_domains.lst \
            ./domains/geosite.dat \
            ./domains/geosite.dat.sha256sum \
            --title "Release ${{ env.CURRENT_DATE }}" \
            --notes "Актуальные списки доменов на ${{ env.CURRENT_DATE }}."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
